# PDF apstrādes bibliotēka
PyMuPDF==1.24.1

# Nodrošina robustu datu validāciju un iestatījumus
pydantic==2.7.1
customtkinter==5.2.2
# Papildu PDF parseris un teksta salīdzināšana
pdfplumber==0.10.3
python-Levenshtein>=0.12.2
